<p id="notice"><%= notice %></p>
<div class="container">
  <div class="jumbotron text-center">
    <h1 class="hd1">Chameleon team Raffle app</h1>
  </div>

  <div class="jumbotron text-center">
    <h3 class="hd3">Select PR Owner</h3>
     <select class="custom-select" id="userSelect">
      <option selected value="-1">Choose...</option>
      <% @users.each do |user| %>
      <option value="<%= user.id %>"><%= user.name %></option>
      <% end %>
    </select>

    <div>
      <div id="preSort">
        <button class="btn btn-primary try-your-lucky-margin" onclick="tryYourLucky();">Raffle</button>
      </div>
      <div id="afterSort">
        <span id="result">Chosen: </span>
      </div>
    </div>
  </div>

  <div class="jumbotron">
    <h2 class="hd2 text-center">Statistics</h2>
    <h4 class="hd4">Number of raffles: <%= getRafflesNumber() %></h4>
    <hr>
    <h4 class="hd4">Users statistics</h4>
    <% if Raffle.count > 0 %>
      <% @users.each do |user| %>
      <div style="padding-top: 2px;">
        <span><%= user.name %></span>
          <span class="progress">
            <span class="progress-bar" role="progressbar" aria-valuenow="<%= getUserStatistic user.id %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= getUserStatistic user.id %>%; min-width: 2em;" >
              <%= getUserStatistic user.id %>% <br>
            </span>
          </span>  
      </div>
      <% end %>
    <% end %>
  </div>

  
  <h3 class="hd3">Previous Raffles</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Raffle n°</th>
        <th scope="col">User</th>
        <th scope="col">Sorting date</th>
      </tr>
    </thead>
    <tbody>
      <% @raffles.order("created_at DESC").each_with_index  do |raffle, index| %>
      <tr>
          <th scope="row"><%= index + 1 %> </th>
          <td><%= raffle.user.name %></td>
          <td><%= raffle.created_at.strftime("%F")  %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>

