<p id="notice"><%= notice %></p>
<div class="container">
  <div class="jumbotron text-center">
    <h1 class="hd1">Chameleon team sorteio de PRs</h1>
  </div>

  <div class="jumbotron text-center" id="main-sort-jumbotron">
    <div id="preSort">
      <h3 class="hd3">PR Owner</h3>
      <select class="custom-select" id="userSelect">
       <option selected value="-1">Escolha...</option>
       <% @users.each do |user| %>
       <option value="<%= user.id %>"><%= user.name %></option>
       <% end %>
      </select>
      <button class="btn btn-primary try-your-lucky-margin" onclick="tryYourLucky();">Sortear</button>
    </div>
    <div id="afterSort">
      <span id="result">Escolhido: </span>
    </div>
  </div>

  <div class="jumbotron">
    <h2 class="hd2 text-center">Estatísticas</h2>
    <h4 class="hd4">Total: <%= getRafflesNumber() %> Sorteios</h4>
    <hr>
    <h4 class="hd4">Estatisticas de sorteio</h4>
    <% if Raffle.count > 0 %>
      <% @users.each do |user| %>
      <div style="padding-top: 20px;">
        <span><%= user.name %> - <%= getSortsCountForUser(user.id)  %> sorteios - <%= getLastSortDate(user.id) %></span>
          <span class="progress">
            <span class="progress-bar" role="progressbar" aria-valuenow="<%= getUserStatistic user.id %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= getUserStatistic user.id %>%; min-width: 2em;" >
              <%= getUserStatistic user.id %>% <br>
            </span>
          </span>  
      </div>
      <% end %>
    <% end %>
  </div>
  <br>
</div>

