<p id="notice"><%= notice %></p>
<div class="container">
  <div class="jumbotron text-center">
    <h1 class="hd1">Chameleon team Raffle app</h1>
  </div>

  <div class="jumbotron text-center">
    <h3 class="hd3">Select PR Owner</h3>
     <select class="custom-select" id="userSelect">
      <option selected value="-1">Choose...</option>
      <% @users.each do |user| %>
      <option value="<%= user.id %>"><%= user.name %></option>
      <% end %>
    </select>

    <div>
      <div id="preSort">
        <button class="btn btn-primary try-your-lucky-margin" onclick="tryYourLucky();">Raffle</button>
      </div>
      <div id="afterSort">
        <span id="result">Chosen: </span>
      </div>
    </div>

    

  </div>

  
  <h3 class="hd3">Previous Raffles</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">User</th>
        <th scope="col">Sorting date</th>
      </tr>
    </thead>
    <tbody>
      <% @raffles.order("created_at DESC").each do |raffle| %>
      <tr>
          <td><%= raffle.user.name %></td>
          <td><%= raffle.created_at.strftime("%F")  %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>

